.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .phone {
    background-color: #F2F2F2;
    width: 393px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 100vh;
  }
  .maincontent {
    flex: 1;
  }