.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  background-color: #F2F2F2;
  width: 393px;
  height: 812px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.title {
  font-size: 1.2rem;
  text-align: center;
}

.tab-buttons {
  display: flex;
  background-color: lightgray;
  justify-content: center;
  margin: 30px 20px 5px 20px;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tab {
  padding: 8px 35px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 13px;
  border-radius: 10px;
}

.tab.active {
  background-color: #F2F2F2;
  font-weight: bold;
}
.rank-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rank-item {
  display: flex;
  align-items: center;
  padding: 14px;
  border-bottom: 1px solid #ccc;
}

.rank-number {
  width: 20px;
  text-align: center;
  font-weight: bold;
}

.rank-image {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 10px;
}

.rank-info {
  flex-grow: 1;
}

.city-name {
  font-weight: bold;
  display: block;
}

.views {
  color: #888;
  font-size: 14px;
}

.rank-like {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.heart {
  margin-right: 5px;
  color: red;
}

.like-count {
  font-size: 14px;
}