.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.ranking-header {
  position: relative;
  padding: 16px;
  text-align: center; 
}
.ranking-header .header-icon {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.ranking-header .header-title {
  margin: 0;
  display: inline-block;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-top: 1px solid #ddd;
}

.nav button {
  background: none;
  border: none;
  display: flex;
  flex-direction:column;
  align-items: center;
  font-size: 12px;
  color: #555;
}

.nav .active {
  color:#000;
}


.ranking-screen {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.view {
  display: flex;
  gap: 8px;
  margin: 12px 0;
  background: #ddd;
  border-radius: 8px;
  margin-left: 15px;
}

.view button {
  flex: 1;
  padding: 8px;
  border: 3px solid #ddd;
  border-radius: 8px;
  background: #ddd;
}

.view .active {
  background: #fff;
}

.list-container {
  flex: 1;
  overflow-y: auto;
}

.ranking-list {
  list-style: none;
  padding: 8px;
}

.ranking-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.rank-number {
  width: 24px;
}

.thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 12px;
  border: 1px solid #000;
}

.info {
  flex: 1;
  display: flex; 
  flex-direction: column;
}
.likes { 
  margin-left: 8px; 
}
.likes-container { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  width: 60px; 
}

