.screen {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
}


.header {
  display: flex;
  background-color: #FAEBD7;
  height: 60px;
  justify-content:space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 18px;
  color: #7C6C56;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box {
  height: 30px;
  width: 30px;
  background-color: #DDC7AA;
}

.contents {
  display: flex;
  flex: 1;
  background-color: #F1DFC5;
  flex-direction: column;
}

.text {
  font-size: 30px;
  color: #7C6C56;
  padding: 0 20px;
  font-weight: bold;
}

.widget-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 20px;
  flex-wrap: nowrap;
  width: 880px;
}

.widget {
  display: flex;
  background-color: #DDC7AA;
  height: 90px;
  width: 160px;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  background-color: #FAEBD7;
  height: 60px;
  justify-content:space-around;
  align-items: center;
}