.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;
}

header, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #FAEBD7;
  padding: 0px 20px;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #F1DFC5;
  padding: 0px 20px;
  box-sizing: border-box;
}

.contents {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1;
}

.sitename {
  display: flex;
  font-weight: 800;
  font-size: 18px;
  color: #7C5C56;
  margin-top: 19px;
  box-sizing: border-box;
}

.squarediv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.square {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: #DDC7AA;
  margin: 15px 5px;
  box-sizing: border-box;
}

.title {
  display: flex;
  font-weight: 800;
  font-size: 30px;
  color: #7C5C56;
  margin-top: 60px;
  box-sizing: border-box;  
}

.widgetsquarediv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 20px 0px;
  box-sizing: border-box;

  overflow-x: auto;
  white-space: nowrap;

  max-width: 100%;
  gap: 20px;
}

.widgetsquare {
  display: flex;
  height: 90px;
  width: 160px;
  background-color: #DDC7AA;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
  color: #7C5C56;

  flex-shrink: 0;
}